@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "googleBold";
  src: url("/public/GoogleSans/Bold.ttf");
}

@layer utilities {

  .box::before {
    @apply absolute h-[99px] w-[650px] animate-fullSpin rounded-full bg-[conic-gradient(#0D652D_150deg,transparent_80deg)] content-[''];
  }
  .box::after {
    @apply absolute left-[3%] top-[3%] flex h-[94%] w-[94%] items-center justify-center rounded-full bg-[#C3E6CB] text-4xl tracking-[2px] tracking-[2px] text-white content-['Next'];

  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.rect-animation {
  stroke-dasharray: 10 200;
  stroke-dashoffset: -220;
  animation: rect 5s linear infinite;
}

@keyframes rect {
  from {
    stroke-dasharray: 0 1300;
  }
  to {
    stroke-dasharray: 1300 0;
  }
}
